doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title= indexTitle
    body
        ul 
            li 
                a(href= tanjiroURL ) Play Tanjiro no Uta
            li 
                a(href= shinobuURL ) Play Shinobu no Uta
        